<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.wayneyao.cheat</string>
	<key>connections</key>
	<dict>
		<key>5C498F63-6E9D-4A07-B42A-727B78BE3825</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92C80F9D-D58C-469A-9534-FCEC27394F49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>01426939-712C-4E7E-A86C-41FB76D04041</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D97B77C-E924-4B74-84F8-DCD90968EEAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A6FA6395-A792-4367-9D59-7B4619B74892</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A6FA6395-A792-4367-9D59-7B4619B74892</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Wayne Yao</string>
	<key>description</key>
	<string>Manage your self-defined cheat sheets &amp; knowledge base in Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Cheat</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>92C80F9D-D58C-469A-9534-FCEC27394F49</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cheat</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>wait a sec...</string>
				<key>script</key>
				<string>export PATH="/opt/homebrew/bin:/usr/local/bin:${PATH}"
python3 cheat.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search through your personal cheat sheets</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5C498F63-6E9D-4A07-B42A-727B78BE3825</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>command "{query}" pasted</string>
				<key>title</key>
				<string>Success</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>01426939-712C-4E7E-A86C-41FB76D04041</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cf</string>
				<key>subtext</key>
				<string>e.g. /Users/wayne/.cheat or ~/.cheat</string>
				<key>text</key>
				<string>Configure your cheat sheet directory</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8D97B77C-E924-4B74-84F8-DCD90968EEAA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH="/opt/homebrew/bin:/usr/local/bin:${PATH}"
python3 config.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A6FA6395-A792-4367-9D59-7B4619B74892</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Refer to github https://github.com/wayneyaoo/Alfred-cheat for details.</string>
	<key>uidata</key>
	<dict>
		<key>01426939-712C-4E7E-A86C-41FB76D04041</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>5C498F63-6E9D-4A07-B42A-727B78BE3825</key>
		<dict>
			<key>xpos</key>
			<real>165</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>8D97B77C-E924-4B74-84F8-DCD90968EEAA</key>
		<dict>
			<key>xpos</key>
			<real>165</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>92C80F9D-D58C-469A-9534-FCEC27394F49</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>A6FA6395-A792-4367-9D59-7B4619B74892</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.2.1</string>
	<key>webaddress</key>
	<string>https://github.com/wayneyaoo</string>
</dict>
</plist>
